<ion-modal-view>
  <ion-content overflow-scroll="false">
    <div class="setelin">

      <div class="row">

        <button style="position:absolute;left:10px;top:28px;" class="button button-icon icon ion-chevron-left" ng-click="closeAbout()"></button>

        <div class="col">
          <h1 class="text-center about-title">{{ 'about_us' | translate }}</h1>
          <p class="detail"> {{ 'setelin_description' | translate }} </p>
        </div>
      </div>

      <!--     <div class="row">
        <div class="col feedback">
          <button class="button button-clear button-dark">
            feedback
          </button>
        </div>
      </div>-->
      <div class="row" style="margin-top:20px;">
        <div class="col">
          <h1 class="text-center about-title">{{  'contributors_title' | translate }}</h1>
          <p>{{ 'contributors_description' | translate }}</p>
        </div>
      </div>
      <div class="row" style="margin-top:20px;">
        <div class="col">
          <table id="contributors">
            <tr>
              <td>Adnan Abdul Ghani </td>
              <td>coordination</td>
            </tr>
            <tr>
              <td>Adrian Solitander </td>
              <td>pr & coordination </td>
            </tr>
            <tr>
              <td>Aldin Galjic </td>
              <td>initiative content </td>
            </tr>
            <tr>
              <td>Ali Zamli </td>
              <td>design assets </td>
            </tr>
            <tr>
              <td>Arsham Afshari </td>
              <td>collaborators </td>
            </tr>
            <tr>
              <td>Anna Iosif </td>
              <td>developer </td>
            </tr>
            <tr>
              <td>Christian Landgren </td>
              <td>tech lead </td>
            </tr>
            <tr>
              <td>David Tobar Herrera </td>
              <td>ux & ui design </td>
            </tr>
            <tr>
              <td>Elhabib Moustaid </td>
              <td>research & analytics </td>
            </tr>
            <tr>
              <td>Jamil Walli </td>
              <td>copy </td>
            </tr>
            <tr>
              <td>Leo Salmonsson </td>
              <td>tech lead </td>
            </tr>
            <tr>
              <td>Leonard Pauli </td>
              <td>developer </td>
            </tr>
            <tr>
              <td>Lisa Söderlindh </td>
              <td>pr & communication </td>
            </tr>
            <tr>
              <td>Mikael Ribbenvik </td>
              <td>coordinator </td>
            </tr>
            <tr>
              <td>Milad Fallah </td>
              <td>project leader </td>
            </tr>
            <tr>
              <td>Ningjing Chen </td>
              <td>developer </td>
            </tr>
            <tr>
              <td>Oscar Haglind </td>
              <td>developer </td>
            </tr>
            <tr>
              <td>Shahin Baharan </td>
              <td>pr & communication </td>
            </tr>
            <tr>
              <td>Susanne Najafi </td>
              <td>coordinatior </td>
            </tr>
            <tr>
              <td>Tobias Rosman </td>
              <td>wireframing </td>
            </tr>
            <tr>
              <td>Tyler Crowley </td>
              <td>coordinator </td>
            </tr>
            <tr>
              <td>Vitali Poluzhnikov </td>
              <td>brand identity </td>
            </tr>
          </table>


          <!-- Img, border rounded -->
          <!-- <ul class="collaborators">
            <li>Adnan Abdul Ghani </li>
            <li>Adrian Solitander </li>
            <li>Aldin Galjic </li>
            <li>Ali Zamli </li>
            <li>Arsham Afshari </li>
            <li>Anna Iosif </li>
            <li>Christian Landgren </li>
            <li>David Tobar Herrera </li>
            <li>Elhabib Moustaid </li>
            <li>Jamil Walli </li>
            <li>Leo Salmonsson </li>
            <li>Leonard Pauli </li>
            <li>Lisa Söderlindh </li>
            <li>Mikael Ribbenvik </li>
            <li>Milad Fallah </li>
            <li>Ningjing Chen </li>
            <li>Oscar Haglind </li>
            <li>Shahin Baharan </li>
            <li>Susanne Najafi </li>
            <li>Tobias Rosman </li>
            <li>Tyler Crowley </li>
            <li>Vitali Poluzhnikov </li>
          </ul>
        </div>
        <div class="col">
          <ul class="collaborators contribution">
            <li>coordination</li>
            <li>pr & coordination </li>
            <li>initiative content </li>
            <li>design assets </li>
            <li>collaborators </li>
            <li>developer </li>
            <li>tech lead </li>
            <li>ux & ui design </li>
            <li>research & analytics </li>
            <li>copy </li>
            <li>tech lead </li>
            <li>developer </li>
            <li>pr & communication </li>
            <li>coordinator </li>
            <li>project leader </li>
            <li>developer </li>
            <li>developer </li>
            <li>pr & communication </li>
            <li>coordinatior </li>
            <li>wireframing </li>
            <li>coordinator </li>
            <li>brand identity </li>
          </ul> -->
        </div>
      </div>

      <!-- <div class="row">
        <div class="col social">
          <h3 class="text-center" style="margin-top: 8px;">follow us</h3>
          <div class="row">
            <button class="button button-clear button-dark">
              Facebook
            </button>
          </div>
          <div class="row">
            <button class="button button-clear button-dark">
              Twitter
            </button>
          </div>
          <div class="row">
            <button class="button button-clear button-dark">
              Linkedin
            </button>
          </div>
        </div>
      </div>-->

    </div>
    <!-- End setelin part -->

    <div class="refugeetech">
      <div class="row" style="text-align: center">
        <!-- Logo -->
        <img style="margin:0 auto;height:75px;" ng-src="{{ 'img/refugee_tech.png' }}">
      </div>

      <div class="row">
        <div class="col">
          <p>{{ 'refugee_tech_info' | translate }}</p>
        </div>
      </div>

      <div class="row" style="margin-top:20px;">
        <div class="col links">
          <h1 class="text-center about-title">{{ 'follow_us' | translate }}</h1>
          <div class="row">
            <a class="button button-clear button-dark" href="http://refugeetech.com/" target="_blank">
              {{ 'visit_us' | translate }}
            </a>
          </div>
          <div class="row">
            <a class="button button-clear button-dark" href="https://www.facebook.com/refugeetech/" target="_blank">
              Facebook
            </a>
          </div>
          <div class="row">
            <a class="button button-clear button-dark" href="https://refugee1.typeform.com/to/WLYvfG" target="_blank">
              {{ 'add_your_app' | translate }}
            </a>
          </div>
          <div class="row">
            <a class="button button-clear button-dark" href="emailto: info@refugeetech.com" target="_blank">
              {{ 'contact' | translate }}
            </a>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-modal-view>
