<ion-modal-view>
  <ion-content>
    <div class="col setelin">
      <div class="row">
        <div class="col">
          <button class="button button-icon" ng-click="closeAbout()">  <i class="icon ion-chevron-left"></i> </button>
        </div>

        <div class="col text-center">
          <h1 class="detailed title" style="font-size: 16px; font-size: 3.8vw;">about</h1>
        </div>

        <div class="col">
        </div>
      </div>

      <div class="row">
        <div class="col description">
          <p> Setelin was initiated during a hackathon in a collaboration between Refugee Tech,
              STHM TECH and Migrationsverket the 29th of May. Its an historical event where an
              government agency reaches out and collaborates with a tech community. </p>
        </div>
      </div>

      <div class="row">
        <div class="col feedback">
          <button class="button button-clear button-dark">
            feedback
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col collaborators">
          <!-- Img, border rounded -->
          <h3 class="text-center">contributors</h3>
          <p class="title">
            These are the volonteers that contributed in this great initiative
          </p>
          <div class="col-50">
            Aldin Galgic <br/>
            Ali Zamli <br/>
            Arsham Afrhari <br/>
            Christian Landgren <br/>
            David Tobar Herrera <br/>
            Elhabib Moustaid <br/>
            Leop Salmonsson <br/>
            Leonard Pauli <br/>
            Mikael Ribbenvik <br/>
            Milad Fallah <br/>
            Nin-Jing <br/>
            Oscar Haglind <br/>
            Shahin Baharan <br/>
            Susanne Najfi <br/>
            Tobias Rosman <br/>
            Tyler Crowley <br/>
            Vitali Poluzhnikov <br/>
          </div>
          <div class="col-50">

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col social">
          <h3 class="text-center" style="margin-top: 8px;">follow us</h3>
          <div class="row">
            <button class="button button-clear button-dark">
              Facebook
            </button>
          </div>
          <div class="row">
            <button class="button button-clear button-dark">
              Twitter
            </button>
          </div>
          <div class="row">
            <button class="button button-clear button-dark">
              Linkedin
            </button>
          </div>
        </div>
      </div>

    </div> <!-- End setelin part -->

    <div class="col refugee_tech">
      <div class="row">
        <!-- Logo -->
        <img ng-src="{{ '/img/refugee_tech.png' }}" height="40%" width="40%">
      </div>

      <div class="row">
        <div class="col" style="font-size: 1.2em;">
          <p>We build bridges between all parts of society to enable refugees’ potential,
             relying on efficiently designed and developed technology solutions.</p>
        </div>
      </div>

      <div class="row">
        <div class="col links">
          <h3 class="text-center" style="margin-top: 8px;">follow us</h3>
          <div class="row">
            <button class="button button-clear button-dark" href="http://refugeetech.com/">
              visit us
            </button>
          </div>
          <div class="row">
            <button class="button button-clear button-dark">
              add your app in Setelin
            </button>
          </div>
          <div class="row">
            <button class="button button-clear button-dark">
              contact
            </button>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-modal-view>
