<ion-modal-view>
  <ion-content  overflow-scroll="false">
    <div class="setelin">

      <div class="row">

        <button style="position:absolute;left:10px;top:28px;" class="button button-icon icon ion-chevron-left" ng-click="closeAbout()"></button>

        <div class="col">
          <h1 class="text-center about-title">{{ 'about_us' | translate }}</h1>
          <p class="detail"> {{ 'setelin_description' | translate }} </p>
        </div>
      </div>

 <!--     <div class="row">
        <div class="col feedback">
          <button class="button button-clear button-dark">
            feedback
          </button>
        </div>
      </div>-->

      <div class="row" style="margin-top:20px;">
        <div class="col">
          <!-- Img, border rounded -->
          <h1 class="text-center about-title">{{  'contributors_title' | translate }}</h1>
          <p>{{ 'contributors_description' | translate }}</p>
          <ul class="collaborators">
            <li>Aldin Galgic</li><li>
            Ali Zamli </li><li>
            Arsham Afrhari </li><li>
            Christian Landgren </li><li>
            David Tobar Herrera </li><li>
            Elhabib Moustaid </li><li>
            Leop Salmonsson </li><li>
            Leonard Pauli </li><li>
            Mikael Ribbenvik </li><li>
            Milad Fallah </li><li>
            Ningjing Chen </li><li>
            Oscar Haglind </li><li>
            Shahin Baharan </li><li>
            Susanne Najfi </li><li>
            Tobias Rosman </li><li>
            Tyler Crowley </li><li>
            Vitali Poluzhnikov </li>
          </ul>
        </div>
      </div>

     <!-- <div class="row">
        <div class="col social">
          <h3 class="text-center" style="margin-top: 8px;">follow us</h3>
          <div class="row">
            <button class="button button-clear button-dark">
              Facebook
            </button>
          </div>
          <div class="row">
            <button class="button button-clear button-dark">
              Twitter
            </button>
          </div>
          <div class="row">
            <button class="button button-clear button-dark">
              Linkedin
            </button>
          </div>
        </div>
      </div>-->

    </div> <!-- End setelin part -->

    <div class="refugeetech">
      <div class="row" style="text-align: center">
        <!-- Logo -->
        <img style="margin:0 auto;height:75px;" ng-src="{{ 'img/refugee_tech.png' }}">
      </div>

      <div class="row">
        <div class="col">
          <p>{{ 'refugee_tech_info' | translate }}</p>
        </div>
      </div>

      <div class="row" style="margin-top:20px;">
        <div class="col links">
          <h1 class="text-center">{{ 'follow_us' | translate }}</h1>
          <div class="row">
            <a class="button button-clear button-dark" href="http://refugeetech.com/" target="_blank">
              {{ 'visit_us' | translate }}
            </a>
          </div>
          <div class="row">
            <a class="button button-clear button-dark" href="https://www.facebook.com/refugeetech/" target="_blank">
              Facebook
            </a>
          </div>
          <div class="row">
            <a class="button button-clear button-dark" href="https://refugee1.typeform.com/to/WLYvfG" target="_blank">
              {{ 'add_your_app' | translate }}
            </a>
          </div>
          <div class="row">
            <a class="button button-clear button-dark" href="emailto: info@refugeetech.com" target="_blank">
              {{ 'contact' | translate }}
            </a>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-modal-view>
