<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Competency.se</h1>
    <div class="buttons">
      <button class="button" ng-click="closeapp()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doapp()">
      <div class="row">
        <div class="col">
          <div class="text-center">
            <img style="border-radius: 10%" src="http://lorempixel.com/400/400/nightlife/3" height="45%" width="45%">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="text-center" style="padding: 25px" >
            <h2>App-Title</h2>
            <p>Use lap as chair. Attack dog, run away and pretend to be victim refuse to drink water except out of someone's glass. Chew foot kitty loves pigs or cough furball. Sleep nap flee in terror at cucumber discovered on floor. Brown cats with pink ears sit on human chase imaginary bugs, or paw at beetle and eat it before it gets away. Meow all night having their mate disturbing sleeping humans rub face on owner pooping rainbow while flying in a toasted bread costume in space yet who's the baby, for stare at the wall, play with food and get confused by dust. Destroy couch.</p>
            <button class="button button-stable">
              <i class="icon ion-social-apple"></i> IOS
            </button>
            <button class="button button-stable">
              <i class="icon ion-social-android"></i> Android
            </button>
          </div>
        </div>
      </div>

    </form>
  </ion-content>
</ion-modal-view>
