<ion-modal-view>
  <!-- <ion-header-bar>
    <h1 class="title">{{app.title}}</h1>
    <div class="buttons">
      <button class="button" ng-click="closeapp()">Close</button>
    </div>
  </ion-header-bar> -->
  <ion-content>
    <form ng-submit="doapp()">
      <div class="row">

        <div class="col">
          <button class="button button-icon" ng-click="closeapp()">  <i class="icon ion-chevron-left"></i> </button>
        </div>

        <div class="col">
          <h1 class="detailed title" style="font-size: 16px; font-size: 3.8vw;">{{app.name}}</h1>
        </div>

        <div class="col" style="text-align:right;">
          <button class="button button-icon tags" ng-click="">  <i class="icon ion-ios-heart-outline"></i> </button>
        </div>

      </div>

      <div class="row">
        <div class="col">
          <div class="text-left" style="padding: 25px" >
            <div class="row">
              <img style="border-radius: 30%" ng-src="{{ search('logo',app.links).url }}" height="40%" width="40%">
              <div class="col">
                <p> Lorem Ipsum dorem al sumetorem Ipsum dorem al sumet</p>
                <!-- TODO -->
                <p class="likes"> 240 Likes </p>
              </div>
            </div>

          </div>
          <div class="row">
            <a class="button button-stable" href="">
              "Social"{{  }}""
            </a>

              <div ng-repeat="platform in app.targetPlatforms">

                <a class="button button-stable tags" href="{{ search('home',app.links).url }}"  target="_blank" ng-if= "platform==='web' && search('home',app.links)">
                  <i  class="icon ion-home"></i>

                  {{ platform }}
                </a>

                <a class="button button-stable tags" href="{{ search('appStore',app.links).url }}"  target="_blank" ng-if= "platform==='ios' && search('appStore',app.links)">
                  <i class="icon ion-social-ios"></i>

                  {{ platform }}
                </a>

                <a class="button button-stable tags" href="{{ search('googlePlay',app.links).url }}"  target="_blank" ng-if= "platform==='android' && search('googlePlay',app.links)">
                  <i class="icon ion-social-android"></i>

                  {{ platform }}
                </a>

                <a class="button button-stable tags" href="{{ search('windowsStore',app.links).url }}"  target="_blank" ng-if= "platform==='windows-phone' && search('windowsStore',app.links)">
                  <i class="icon ion-social-windows"></i>

                  {{ platform }}
                </a>

                <a class="button button-stable tags" ng-if= "platform==='other'">
                  <i class="icon ion-asterisk"></i>

                  {{ platform }}
                </a>
              </div>

              <!-- more to add according to schema

              https://github.com/refugeetech/platform/blob/develop/projects/collections/schema.js

              -->
            </div>
            <div class="row">
              <div class="col description">
                {{ app.description }}
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
  </ion-content>
</ion-modal-view>
