<ion-view view-title="{{category.title}}" animation="slide-down-up">
<ion-nav-bar class="clear-bar" id="catNavBar">
    <ion-nav-buttons side="left">
      <a ui-sref="app.categories" class="button ion-chevron-left button-clear button-dark"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
  <!--     <div class="input-label">
        <label for="language">English</label>
      </div>
      <div class="item-input item-select">
        <select id="language">
          <option>Arabic</option>
          <option selected>English</option>
          <option>Farsi</option>
        </select>
      </div> -->
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content style="background-color:{{category.color}}; background-image:url(img/category/{{category.slug}}.jpg); " padding="true" on-scroll="getScrollPosition()" on-swipe-left="swipeLeft()" on-swipe-right="swipeRight()" id="categoryContainer" delegate-handle="handler">

    <a id="bgBackBtn" ui-sref="app.categories" class="button ion-chevron-left button-clear"></a>


    <div class="row text-center">
      <div class="col">
        <img class="img-responsive" src="img/categories-{{category.slug}}.png">
      </div>
    </div>
    <div class="category_description_container">
      <div class="card text-center">
        <h4>{{ category.slug + "_title" | translate }}</h4>
        <p>{{ category.slug + '_description' | translate }}</p>
      </div>
      <ion-list>
        <div class="item-separator" ng-repeat="app in apps">
          <a class="item item-thumbnail-left" ng-click="showapp(app)">
            <img ng-src="{{ 'img/apps/logo_'+app._id+'.png' }}">
            <h2>{{app.name}}</h2>
            <p class="app-desc">{{app.shortDescription}}</p>
            <!-- <p class="like-num">{{app.upvotes}} likes</p> --> <!-- This will not currently be implemented -->
            <!-- <p class="like-num"><i class="icon {{ inFavorites(app) ? 'ion-ios-heart' : 'ion-ios-heart-outline'}}"></i></p> -->
          <!--  <p>
            	<span ng-repeat="platform in app.targetPlatforms">
                {{ platform }}
              	</span>
            </p>-->
          </a>
        </div>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
