<ion-view view-title="Category" animation="slide-down-up">
  <ion-nav-buttons side="left">
    <!-- <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a> -->
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
<!--     <div class="input-label">
      <label for="language">English</label>
    </div>
    <div class="item-input item-select">
      <select id="language">
        <option>Arabic</option>
        <option selected>English</option>
        <option>Farsi</option>
      </select>
    </div> -->
  </ion-nav-buttons>
  <ion-content style="background-color:{{category.color}};" padding="true">

    <div class="row text-center">
      <div class="col">
        <img class="img-responsive" src="img/categories-{{category.slug}}.svg">
      </div>
    </div>
    <div class="category_description_container">
      <div class="card text-center">
        <h4>{{ category.slug + '_title' | translate }}</h4>
        <p>{{ category.slug + '_description' | translate }}</p>
      </div>
      <ion-list>
          <a class="item item-thumbnail-left" ng-click="showapp(app)" ng-repeat="app in apps">
            <img ng-src="img/apps/{{app.logo}}">
            <h2>{{app.title}}</h2>
            <p>{{app.description}}</p>
          </a>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
