<ion-view view-title="Category" animation="slide-down-up">
  <ion-content>

    <h1>Looking for {{category.title}} </h1>
    <div class="row" style="text-align:center">
      <div class="col">
        <img style="border-radius: 100%;" src="http://lorempixel.com/400/400/people/2">
      </div>
    </div>
    <ion-list>
        <a class="item item-thumbnail-left" ng-click="showapp(app)" ng-repeat="app in apps">
          <img src="{{app.icon}}">
          <h2>{{app.title}}</h2>
          <p>{{app.description}}</p>
        </a>
    </ion-list>
  </ion-content>
</ion-view>
