<ion-modal-view class="setelin">
  <ion-content  overflow-scroll="false">
    <div class="setelin">
      <div class="col newsletter-content">
        <div class="row">

          <button style="position:absolute;left:10px;top:28px;" class="button button-icon icon ion-chevron-left" ng-click="closeNewsletter()"></button>

          <div class="col">
            <h1 class="text-center about-title">{{ 'newsletter_title' | translate }}</h1>
          </div>

        </div>

        <div class="row">
          <div class="col">
            <p class="text-center">{{ 'newsletter_description' | translate }}</p>
          </div>
        </div>

        <div class="row">

          <form name="myForm" class="{{ hideForm }}" novalidate>

          <label class="item item-input item-floating-label">
            <input class="email-input" name="email" ng-model="newsletterEmail" type="email" placeholder="{{ 'email_hint' | translate}}" style="background-color: transparent; min-width: 245px;" required>
          </label>

          <button class="button button-icon"
            ng-click="registerEmail(newsletterEmail);"
            ng-disabled="myForm.email.$dirty && myForm.email.$invalid">
            {{ 'subscribe_label' | translate }}
          </button></br>

          <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
            <span ng-show="myForm.email.$error.required">Email is required.</span>
            <span ng-show="myForm.email.$error.email">Invalid email address.</span>
          </span>

          </form>

          <span class="item {{ showInfo }}">
            {{ messageInfo | translate }}
          </span>

        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
