.refugeetech,
.setelin {
  padding: 10px;

  h1 {
    margin-bottom: 20px;
  }

  p {
    font-family: 'Siri Core', 'sans-serif';
    color: #000;
    font-weight: 100;
    font-size: 12pt;
    margin: 10px;
    line-height: 1.6;
    text-align: left;
  }

  .feedback {
    font-weight: 900;
  }

  .collaborators {
    margin: 10px;
    font-size: 10pt;
    font-weight: 800;
    line-height: 1.8;
    text-align: left;

    .title {
      font-weight: normal;
    }

  }

  .contribution {
    font-weight: 100;
  }

  .about-title {
    font-size: 16pt;
    margin-top: 18px;
  }
}

.setelin {
  background-color: #E7EBF0;
}

.button.button-icon:before {
    font-size: 20px;
}

#contributors {
  width: 100%;
}

#contributors tr td:nth-child(1) {
  margin: 10px;
  font-size: 10pt;
  font-weight: 800;
  line-height: 1.8;
  text-align: left;
  width: 50%;
}

#contributors tr td:nth-child(2) {
  font-weight: 100;
}
