@import 'variables';
@import 'categories';
@import 'category';
@import 'fonts';

body{
  font-family: 'Siri Core Regular', 'sans-serif';
}

h1, h2, h3, h4, h5 {
  font-family: 'Siri Core Bold';
}

.tags{
  border-radius: 300px;
  margin: 5px 4px 20px 4px;
  padding: 0px 15px 0px 15px;
  max-height: 10px;
  min-height: 28px;
  line-height: 28px;
  font-size: 15px;
  font-weight: 100;

  &.highlight{
    background-color: #EC4A59;
    color: #FDFDFD;
  }

}

.likes{
  color: #ADADAD;
}

.initiative-descrption{
  background-color: #E7EBF0;

  .img{
    padding: 20px;
  }
  .description{
    font-size: 17px;
    font-weight: 300;
    padding: 8px;
  }
}

.swiper-container{
  height: 400px;
}

.swiper-slide {
  padding: 15px;
  background-color: #E7EBF0;
  text-align: center;
  width:350px;
}

.image.slide{
    height: 100%;
}

.row.footer{
  width: 106%;
  margin-left: -15px;
  text-alignment: center;
}

@media only screen
and (max-device-width : 480px) {

/* Styles */

  .modal{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0px;
  }

}
