@import 'variables';
@import 'categories';
@import 'category';

.tags{
  border-radius: 500px;
}

.likes{
  color: #ADADAD;
}

.initiative-descrption{
  background-color: #E7EBF0;

  .img{

    padding: 20px;

  }

}

.swiper-container{
  padding-top: 15px;
  height: 400px;
}

.swiper-slide {
  background-color: #E7EBF0;
  text-align: center;
  width:350px;
}

.image.slide{
    height: 100%;

}

.row.footer{
  width: 106%;
  margin-left: -15px;
  text-alignment: center;


}
