@import 'variables';
@import 'categories';
@import 'category';

.tags{
  border-radius: 500px;
}

.likes{
  color: #ADADAD;
}

.initiative-descrption{
  background-color: #E7EBF0;

  .img{

    padding: 20px;

  }

}

.slider {
  height: 100%;
}

.slider-slide {
  color: #000;
  padding-right: 20px;
  background-color: #E7EBF0;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  width:350px;
}

.image.slide{
    height: 100%;
    width: 100%;

}

.row.footer{
  width: 106%;
  margin-left: -15px;

}
