a {
	text-decoration: none;
}

$query-break-1: 640px;
$query-break-2: 860px;
$query-break-3: 1100px;

.categories {
  .card {
    text-align: center;
    color: #fff;
    margin: -5px;
		border-radius: 0px;
		height: 300px;
    box-shadow: 0px, 0px, 0px, rgba(0, 0, 0, 1) !important;

  }
  .category {
		text-align: left;
    display: inline-block;
    position: relative;
    width: 100%;
		max-width: 500px;
    .icon {
      width: 100%;
      height: 100%;
      //border-radius: 0px;
      image {
        width: 450px;
        height: 450px;
        y: -140px;
				overflow: visible;

      }
    }
    .title {
      position: relative;
      width: 120%;
      left: -10%;
      text-align: left;
      display: block;
			padding-left: 60px;
			padding-top: 50px;
			padding-bottom: 25px;
      color: #FFFFFF;
      font-weight: 450;
      font-size: 1.4em;
    }
		.description {
      position: relative;
      width: 300px;
      left: -10%;
      text-align: left;
      display: block;
			padding-left: 60px;
      color: #FFFFFF;
      font-weight: 700;
      font-size: 1.8em;
			line-height: 25px;
    }
  }
}

@media all and (min-width: 860px) {
  .categories {
    font-size: 1.1em;
  }
}

@media all and (min-width: 1100px) {
  .categories {
    font-size: 1.2em;
  }
}

@media all and (min-width: 640px) {
  .categories .category {
    // height: 0;
  }
}

@media all and (min-width: 1100px) {
  .categories .category {
    // height: 15px;
  }
}

@media all and (min-width: 860px) {
  .categories .category .title {
    margin-top: 7px;
		padding-left: 56px;
  }
}
