.img-rounded {
  border-radius: 100%;
}
.img-responsive {
  // max-width: 300px;
  // width: 100%;
  max-height:200px;
  width:auto;
  margin:10px;
}
.text-center {
  text-align: center;
}
.category_description_container {
  background: $light;
  padding: $content-padding;
  border-radius: 10px;
  margin-top: 50px;
  .card {
    box-shadow: none;
    padding: $content-padding;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .item {
    border: none;
    img {
      object-fit: contain;
    }
  }
}


#categoryContainer{
  background-size: cover; background-repeat: no-repeat;
  .has-header {
    top: 0;
  }
}

.bar.bar-clear {
  background-color: rgba(255,255,255,0.9);
  .title {
    color: #666;
  }
}
#catNavBar {
  display: none;
}
.item p.app-desc {
  color: #333;
}
.item p.like-num {
  margin-top: 6px;
}
.item h2 {
  margin: 8px 0 6px;
}
#bgBackBtn {
  color: #FFF;
  position: absolute;
  left: 0;
  font-size: 20px;
}
.item-separator {
border-bottom: 4px solid #e7eaf0;
}

.modal {
  top: 1%;
  left: 10%;
  right: 10%;
  width: 80%;
  bottom: 0;
  min-height: 240px;
  border-radius: 10px 10px 0 0;
}

// category icon
.text-center .col img {
  max-width: 160px;
  max-height: 160px;
  margin-top: 50px;
}

// category title
.text-center .col h4 {
  color: white;
  font-size: 24pt;
  font-family: 'Siri Web SemiBold';
  // line-height: 2.6;
}

//category long description
.text-center .col p {
  color: white;
  font-size: 16pt;
  font-family: 'Siri Web Light';
  // line-height: 2.4;
}

.app-title {
  font-family: 'Siri Web SemiBold';
  font-size: 14pt !important;
  // line-height: 2;
}

.app-desc {
  font-family: 'Siri Web Light';
  font-size: 12pt !important;
  // line-height: 2;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal !important;
}
