.img-rounded {
  border-radius: 100%;
}
.img-responsive {
  max-width: 300px;
  width: 100%;
}
.text-center {
  text-align: center;
}
.category_description_container {
  background: $light;
  padding: $content-padding;
  border-radius: 10px;

  .card {
    box-shadow: none;
    padding: $content-padding;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .item {
    border: none;

    img {
      object-fit: contain;
    }
  }
}




#categoryContainer.has-header{top:0;}

.bar.bar-clear{
  background-color:rgba(255,255,255,0.9);

  .title{
   color:#666; 
  }
}

#catNavBar{display:none;}
#bgBackBtn{color:#FFF;position: absolute;left:0;font-size:20px;}
