.img-rounded {
  border-radius: 100%;
}
.img-responsive {
  max-width: 100%;
}
.text-center {
  text-align: center;
}
.category_description_container {
  background: $light;
  padding: $content-padding;
  border-radius: 10px;

  .card {
    box-shadow: none;
    padding: $content-padding;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .item {
    border: none;

    img {
      object-fit: contain;
    }
  }
}
